@charset "utf-8";
/* Create by FIJN fijn@bk.ru */

/* ♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣ adminka start ♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣ */
.adminka {
    font-size: 1.2em;
    font-family: Arial, tahoma, verdana, sans-serif;
}

/*vertikal vkladki start*/
/** {
    margin: 0;
    padding: 0;
}*/
/*

a {
    color: #0094D6;
}

p {
    padding: 7px 0;
}
*/

h1 {
    font-size: 21px;
    font-weight: normal;
    margin: 0 0 30px;
}

.section {
    /*width: 600px;*/

    /*margin: 30px;*/
}

ul.tabs {
    min-height: 28px;
    line-height: 3.6em;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 6px 0 0 6px;

}

.tabs li {
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 13px 1px;
    color: #777;
    cursor: pointer;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
    text-align: center;
}

.tabs li:hover,
.vertical .tabs li:hover {
    color: #F70;
    padding: 0 13px;
    background: #FFFFDF;
    border: 1px solid #FFCA95;
}

.tabs li.current {
    color: #444;
    background: #EFEFEF;
    padding: 0 13px 2px;
    border: 1px solid #D4D4D4;
    /*border-bottom: 1px solid #EFEFEF;*/
}

.box {
    display: none;
    /*border: 1px solid red;*/
    border-width: 0 1px 1px;
    padding: 12px;

}

.box.visible {
    display: block;
    margin-left: 60px;

}

.section.vertical {
    /*width: 800px;*/
    /*margin-left: 190px;*/
    height: 100%;
}

.vertical .tabs {
    float: left;
    display: inline;
    margin: 0;
    width: 190px;

}

.vertical .tabs li {
    padding: 13px 13px;
    margin: 0 0 4px;
    border-right: 1px solid #F9F9F9;
    border-width: 1px;
    border-color: rgb(102, 102, 102);
    border-style: solid;
    border-radius: 6px;
    background-color: rgb(172, 172, 172);
    color: #ededed;
    width: 160px;
    min-height: 18px;
    line-height: 1.4em;
}

.vertical .tabs li:hover {
    padding: 13px 13px;
    border-width: 1px;
    border-color: rgb(102, 102, 102);
    border-style: solid;
    border-radius: 6px;
    background-color: rgb(142, 142, 142);
    width: 160px;
    min-height: 18px;
    color: #FFFFFF;
}

.vertical .tabs li.current {
    padding: 13px 13px;
    color: #666666;

    margin-right: -1px;
    border-width: 1px;
    border-color: rgb(102, 102, 102);
    border-style: solid;
    border-radius: 6px;
    background-color: rgb(236, 236, 236);
    width: 160px;
    min-height: 18px;
    line-height: 1.4em;
}

.vertical .box {
    border-width: 1px;
    margin-left: 190px;
    min-width: 900px;
}

/*vertikal vkladki end*/

/*horiz vkladki start*/

div.horizTabs {
    /*border: 1px solid green;*/
    padding-top: 15px;
    margin-top: -4px;
}

div.container {
    margin: auto;
    width: 90%;
    margin-bottom: 10px;
}

ul.horizTabNavigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.horizTabNavigation li {
    display: inline;

}

ul.horizTabNavigation li a {
    padding: 3px 9px;
    /*background-color: #666;*/
    color: #333333;
    text-decoration: none;
    font-size: 1.4em;

}

ul.horizTabNavigation li a.selected,
ul.horizTabNavigation li a.selected:hover {
    /*background: #FFF;*/
    color: #006699;
    font-size: 1.4em;
    border: 1px solid #a4a2a3;
    border-bottom: 1px solid #cbcbcb;
    border-radius: 6px 6px 0 0;

}

ul.horizTabNavigation li a:hover {
    background: #ccc;
    color: #000;

}

ul.horizTabNavigation li a:focus {
    outline: 0;
}

div.horizTabs div {
    padding: 5px;
    margin-top: 2px;
    border-top: 1px solid #a4a2a3;

}

div.horizTabs div h2 {
    margin-top: 0;
}

/*horiz vkladki end*/

/* ♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣ adminka end ♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣ */
