/* Create by FIJN fijn@bk.ru */
@charset "utf-8";


html {
    height: 100%;
}

body {
    margin: 50px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    height: 100%;
    background: #cccccc;
}

a img {
    border: none;
}

.spacer {
    clear: both;
}
