RewriteEngine on

# Зададим поддержку юникода
AddDefaultCharset UTF-8

# Убираем index.php из урла
RewriteCond $1 !^(index.php)
RewriteCond $1 !^(uploads)
RewriteRule ^(.*)$ /index.php?/$1 [L]
